/*
   Midiate Answer It Style Sheet

   Filename:	answer_It_Styles.css
   Supporting Files:	none
*/

/* Table Styles */

table {
	font-family: Verdana, Geneva, sans serif;
	font-weight: bold;
}

/* Red and Blue Man Styles */

