/*
   Midiate Answer It Style Sheet

   Filename:	answer_It_Styles.css
   Supporting Files:	none
*/

/* Table Styles */

table {
	font-family: Verdana, Geneva, sans serif;
	font-weight: bold;

}

/* Answer Box Styles */

#ans1 {
        color: LightGray;			/*set background color to light gray*/

	border: 5px solid red;				/*set border; thick solid blue*/
	border-radius: 20px;					/*border has curved corners*/
}
