/* 
   Enter Your Argument Style Sheet 
   
   Filename:	argument_Styles.css
   Supporting Files:	MidiateLogo.png
*/

/* Section Styles */

section {
	font-family: Verdana, Geneva, sans serif;
}

/* Button Styles */

.askit {
	font-family: Verdana, Geneva, sans serif;
}
