/* 
   Enter Your Argument Style Sheet 
   
   Filename:	ask_it_Styles.css
   Supporting Files:	MidiateLogo.png
*/

/* Section Styles */

section {
	font-family: Verdana, Geneva, sans serif;
}

/* Button Styles */

.askit {
	font-family: Verdana, Geneva, sans serif;
	color: white;
	background-color: black;
}
