/*
   My Profile Style Sheet
	
   Filename:	my_Profile_Styles.css
   Supporting Files:	MidiateLogo.png
*/

/* Section Styles */

section {
	font-family: Verdana, Geneva, sans serif;
}

/* Link Styles */

p a {
	font-family: Verdana, Geneva, sans serif;
	color: white;
	background-color: black;
}
	