/*
   My Profile Layout Sheet

   Filename:	my_Profile_Layout.css
   Supporting Files:	MidiateLogo.png
*/

/* Section Styles */

section {
	display: block;
	margin: 100px;
}

/* Link Styles */

p a {
	margin: 40px;
	padding: 10px;
}

#change_Pass {
	display: block;
	float: left;
}
